@section Scripts{<script src="~/Scripts/flexSheet/customFunction.js"></script>}
<div>
    <div class="copy">
        <h3>
            @Html.Raw(FlexSheetRes.CustomFunction_Text3)
        </h3>
<p>@Html.Raw(FlexSheetRes.CustomFunction_Text0)</p>

<p>@Html.Raw(FlexSheetRes.CustomFunction_Text1)</p>

    </div>
    <div>
        <c1-flex-sheet id="customFuncSheet" class="flexSheet"
                       unknown-function="unknownFunction">
            <c1-unbound-sheet row-count="25" column-count="12"></c1-unbound-sheet>
        </c1-flex-sheet>
    </div>
</div>
@section Summary{
<p>@Html.Raw(FlexSheetRes.CustomFunction_Text2)</p>

}
