.wj-flexgrid {
  max-height: 250px;
}
.wj-radialgauge.spinner {
  margin: auto auto;
  padding-bottom: 32px;
  max-width: 200px;
}
.spinner img,
.spinner.wj-gauge {
  display: block;
  margin: auto;
  margin-top: 20px;
}

#theGridMask .c1-grid-mask {
        color: transparent;
    }

    #theGridMask .c1-grid-mask:before {
        margin-left: 60px;
        content: url(../../images/loading.gif);
        }