<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Web.Mvc" version="4.5.20221.333" targetFramework="net452" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net452" />
</packages>
