@using C1.Web.Mvc.Grid
@using C1.Web.Mvc
@model  IEnumerable<TransposedGridExplorer.Models.Portfolio>

@{
    const string tpl1 = "<span class=${value> .3 ? 'big-val' : 'small-val'}>${text}</span>";
    const string tpl2 = "<span class=${value > 50000 ? 'big-val' : 'small-val'}>${text}</span>";
}

@(Html.C1().TransposedGrid<TransposedGridExplorer.Models.Portfolio>().Id("colGroupsFlexGrid")
    .Bind(Model)
    .AutoGenerateColumns(false)
    .SortingType(AllowSorting.None)
    .RowGroups(bl =>
    {
        bl.Add(cb => cb.Binding("Name").Width("130").Height(50));
        bl.Add(cb => cb.Binding("Currency").Align("center").Width("73").Height(50));
        bl.Add(cb => cb.Header("Performance").Align("center").Width("100").CollapseTo("YTD").Rows(bl1 =>
        {
            bl1.Add(cb1 => cb1.Binding("YTD").Format("p2").CssClass("main-row"));
            bl1.Add(cb1 => cb1.Binding("M1").Format("p2"));
            bl1.Add(cb1 => cb1.Binding("M6").Format("p2"));
            bl1.Add(cb1 => cb1.Binding("M12").Format("p2"));
        }));
        bl.Add(cb => cb.Header("Allocation").Align("center").CollapseTo("Amount").Width("100").Rows(bl2 =>
        {
            bl2.Add(cb2 => cb2.Header("Investment").Align("center").CollapseTo("Total").Width("100").IsCollapsed(true).Rows(bl3 =>
            {
                bl3.Add(cb3 => cb3.Binding("Stock").Format("p2").Width("80"));
                bl3.Add(cb3 => cb3.Binding("Bond").Format("p2").Width("80"));
                bl3.Add(cb3 => cb3.Binding("Other").Format("p2").Width("80"));
                bl3.Add(cb3 => cb3.Binding("Total").Name("#Total").Header("Total").Width("80").Format("p2").Align("right").CssClass("main-row"));
            }));
            bl2.Add(cb2 => cb2.Binding("Cash").Format("p2"));
            bl2.Add(cb2 => cb2.Binding("Amount").Format("c0").CssClass("main-row"));
        }));
    })
    .ShowMarquee(true)
    .CssClass("grid animated")
)

<style type="text/css">
    .wj-flexgrid {
        margin: 10px 0;
    }

        /* highlight the main column in the group */
        .wj-flexgrid .wj-cells .wj-cell.main-row {
            background: #ddffdd;
        }

    /* formatting for cell's templates */
    .big-val {
        font-weight: bold;
        color: darkgreen;
    }

    .small-val {
        font-style: italic;
        color: rgb(202, 0, 0);
    }

    /* animation for collapsing/expanding the groups */
    .wj-flexgrid.animated .wj-colheaders .wj-header.wj-cell.wj-colgroup {
        transition: all .2s;
    }
</style>

@section Summary{
    <p>@Html.Raw(Resources.TransposedGrid.RowGroups_Summary)</p>
}

@section Description{
    <p>@Html.Raw(Resources.TransposedGrid.RowGroups_Descriptions)</p>
}