
@Html.ActionLink(Resources.PDF.TableOfContents_CreatePDF, "CreateTableOfContentsPdf", null, new {target = "_blank"})

@section Description{
    <p>@Html.Raw(Resources.PDF.TableOfContents_Text0)</p>
    }
