
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<hgroup>
    <h1>@Html.Raw(Resources.MultiRowExplorer.Error_Text0)</h1>
    <h2>@Html.Raw(Resources.MultiRowExplorer.Error_Text1)</h2>
</hgroup>
</body>
</html>