@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.ThemeDesigner.SiteError;
}

<h1 class="text-danger">@Resources.ThemeDesigner.SiteError</h1>
<h2 class="text-danger">@Resources.ThemeDesigner.SiteErrorDescription</h2>

