.barcode-control-result {
    position: absolute;
    opacity: 0;
    top: 0;
}
.barcode-control-result .name {
    font-size: 24px;
    border-left: 4px solid var(--product-color);
    border-left: 4px solid #01C1D5;
    padding-left: 15px;
    font-weight: bold;
}

.barcode-control-result .barcode {
    margin: 15px 0;
}

.barcode-control-result .value {
    font-style: italic;
}

/*controls*/
.wj-barcode-upca {
    width: 230px;
    height: 90px;
}
.wj-barcode-upce0 {
    width: 140px;
    height: 90px;
}
.wj-barcode-upce1 {
    width: 140px;
    height: 90px;
}
.wj-barcode-qrcode {
    width: 200px;
    height: 200px;
}
.wj-barcode-micropdf417 {
    width: 180px;
    height: 90px;
}
.wj-barcode-pdf417 {
    height: 90px;
}
.wj-barcode-japanese-postal {
    width: 280px;
}
.wj-barcode-itf14 {
    width: 340px;
    height: 90px;
}
.wj-barcode-interleaved2of5 {
    height: 90px;
}
.wj-barcode-gs1databar-truncated {
    width: 200px;
    height: 90px;
}
.wj-barcode-gs1databar-stacked-omnidirectional {
    width: 120px;
    height: 90px;
}
.wj-barcode-gs1databar-stacked {
    width: 120px;
    height: 90px;
}
.wj-barcode-gs1databar-omnidirectional {
    width: 200px;
    height: 90px;
}
.wj-barcode-gs1databar-limited {
    width: 170px;
    height: 90px;
}
.wj-barcode-gs1databar-expanded-stacked {
    height: 120px;
}
.wj-barcode-gs1databar-expanded {
    height: 90px;
}
.wj-barcode-gs1_128 {
    height: 90px;
}
.wj-barcode-ean13 {
    width: 280px;
    height: 90px;
}
.wj-barcode-ean8 {
    width: 170px;
    height: 90px;
}
.wj-barcode-datamatrix {
    width: 170px;
    height: 170px;
}
.wj-barcode-datamatrix {
    width: 170px;
    height: 170px;
}
.wj-barcode-code128 {
    height: 90px;
}
.wj-barcode-code49 {
    width: 170px;
    height: 80px;
}
.wj-barcode-code93 {
    height: 90px;
}
.wj-barcode-code39 {
    height: 90px;
}
.wj-barcode-codabar {
    height: 90px;
}
