/*common*/
.demo-settings{
    display: none;
}

.nav-tabs {
    border-bottom: none !important;
}

.flex-container > div{
    margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        align-items: center;
        padding: 0 15px;
        height: 32px;
    }

    .flex-container > div {
        margin-right: 15px;
    }

    .seperate::after {
        content: "";
        border-right: 1px solid gray;
    }
}

.pane-content {
    margin-bottom: 15px;
}

/*Tab panel*/
.control-nav-tabs.wj-tabpanel > div > .wj-tabpanes {
    border-top: none;
}

.control-nav-tabs.wj-tabpanel > div > .wj-tabheaders {
    background-color: #F3F3F3;
}

.control-nav-tabs.wj-tabpanel > div > .wj-tabheaders > .wj-tabheader {
    text-transform: none;
}

.control-nav-tabs.wj-tabpanel > div > .wj-tabheaders > .wj-tabheader.wj-state-active {
    background-color: #F3F3F3;
}

.control-nav-tabs .pane-content {
    box-shadow: 0 0px 0px rgba(0,0,0,0.1), 0 2px 5px rgba(0,0,0,0.1);
    background-color: #FAFAFA;
    padding: 5px 0
}

.color-tile {
    display: inline-block;
    position: relative;
    width: 2em;
    height: 1em;
    vertical-align: middle;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.change-up {
    color: darkgreen;
}

.change-up:after {
    content: '\25b2';
    margin-left: 0.5em;
}

.change-down {
    color: darkred;
}

.change-down:after {
    content: '\25bc';
    margin-left: 0.5em;
}

/* customize the rating symbol/color/size */
.wj-flexgrid .wj-cell.wj-cell-maker.wj-radio-map.custom-rating label {
    width: .25em;
}

.flag-icon {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-right: 5px;
}

/*Ranking*/
.wj-flexgrid .wj-cell.wj-cell-maker.wj-radio-map.custom-rating label{
    width: 0;
}
.wj-flexgrid .wj-cell.wj-cell-maker.wj-radio-map label:after{
    transform: scale(12);
}

/*Detail row*/
.detail-row td:first-child{
    padding-right: 15px;
}

/*Column picker*/

.column-picker {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.column-picker .wj-listbox-item {
    break-inside: avoid;
}
.wj-multiselectlistbox {
    max-height: 200px;
    min-width: 190px;
}

/*Export*/
.export-img{
    cursor: pointer;
    margin-right:3px;
}