<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="C1.C1Excel" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.C1Pdf" version="4.8.20241.657" targetFramework="net48" />
  <package id="C1.Zip" version="2.0.20233.4" targetFramework="net48" />
  <package id="C1.Web.Mvc" version="4.8.20241.360" targetFramework="net48" />
  <package id="C1.Win" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.Bitmap" version="8.0.20241.657" targetFramework="net48" />
  <package id="C1.Win.C1DX" version="4.8.20241.657" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.OData" version="5.6.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.OData.Core" version="6.11.0" targetFramework="net452" />
  <package id="Microsoft.OData.Edm" version="6.11.0" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="6.11.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Respond" version="1.2.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Data.SQLite" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net452" requireReinstallation="true" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>
