.css-tabs {
    font-weight: normal;
    text-align: left;
}
    .css-tabs a {
        text-decoration: none;
        color: #666666;
        display: inline-block;
        padding-bottom: 5px;
        font-weight: normal;
    }

    .css-tabs .link-selected {
        color: black;
        font-weight: bold;
    }

    .css-tabs .tab {
        display: none;
        border: none;
    }

    .css-tabs .tab-selected {
        padding-top: 3px;
        display: block;
        border-top: 1px solid #cccccc;
    }



