<script id="comboItemTemp" type="text/template">
    <a href="{{Path}}" class="theme-selector-link">{{DisplayText}}</a>
</script>

@(Html.C1().ComboBox<Theme>().CssClass("theme wide-screen").Bind(Theme.GetAll())
    .IsEditable(false)
    .DisplayMemberPath("DisplayText")
    .ItemTemplateId("comboItemTemp")
    .SelectedIndex(Theme.GetCurrentThemeIndex()))