@model ControlGroup

@{
    if (Model == null || !Model.Visible)
    {
        return;
    }
}
<li class="control-group">
    <h3 class="semi-bold">@Model.GroupName</h3>
    <ul>
        @foreach (var control in Model.Controls)
        {
            if (string.IsNullOrEmpty(control.Link))
            {
                <li>@Html.ActionLink(control.ControlName, "Index", control.ControlName)</li>
            }
            else
            {
                <li><a target="_blank" href="@control.Link">@control.ControlName</a></li>
            }
        }
    </ul>
</li>