<h1>
    @Html.Raw(Resources.C1Input.CalendarRanges_Title)
</h1>

<p>
    @Html.Raw(Resources.C1Input.CalendarRanges_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Input.CalendarRanges_Text2)
</p>
@Html.C1().Calendar().Id("theCalendar").ShowHeader(false)