@model Property[]

@section Scripts{
    <script type="text/javascript">
        function formatItem(treeview, args) {
            if (args.dataItem.NewItem) {
                args.element.innerHTML +=
                    '<img style="margin-left:6px" src="@Href("~/Content/images/new.png")"/>';
            }
        }
    </script>
}

<c1-tree-view display-member-path="Header" child-items-path="Items"
              source="Model" format-item="formatItem"></c1-tree-view>

@section Summary{
    <p>@Html.Raw(TreeViewRes.CustomNodeContent_Text0)</p>
}

@section Description{
    <p>@Html.Raw(TreeViewRes.CustomNodeContent_Text1)</p>
    <p>@Html.Raw(TreeViewRes.CustomNodeContent_Text2)</p>
}