/* app css stylesheet */

body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: 'gcicons';
    src: url("../fonts/gcicons.ttf");
    font-weight: normal;
    font-style: normal;
}

[class^="gcicon-"],
[class*=" gcicon-"] {
    font-family: 'gcicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo-container .gcicon-product-c1:before{
    content: "\e962";
}

.logo-container {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
    color: rgb(61, 61, 61) !important;
    float: left;
}
    .logo-container .gcicon-product-c1{
        font-size: 80px;
        margin-right: 4px;
        vertical-align: middle;
        display: inline-block;
        color: white;
    }
    .logo-container a {
        text-decoration:none;
    }

.header {
    background-color: #f27c0a;
    margin-bottom: 14px;
    padding: 12px 0;
}

.header h1 {
    font-size: 40px;
    line-height: 1;
    margin: 8px 0 5px 0;
    color: white;
}

.header img {
        float: left;
        margin: 0 10px 5px 0;
    }

header {
    margin: 0 0 -40px 20px;
}

header a, .labellink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container .desc {
    margin: 5px;
}

.container .wj-flexchart .wj-state-selected {
    stroke-width: 0;
}

.chartcontainer {
    background-color: white;
    border: 1px solid #e4e4e4;
}

.container .wj-flexchart {
    border: 0;
    padding-top: 30px;
}

.hidechart {
    position: absolute;
    left: -9999px;
    top: -9999px;
}


