<script id="comboItemTemp" type="text/template">
    <a href="{{Path}}" class="theme-selector-link">{{DisplayText}}</a>
</script>

@(Html.C1().ComboBox<Sample.Models.Theme>().CssClass("theme wide-screen").Bind(Sample.Models.Theme.GetAll())
    .IsEditable(false)
    .DisplayMemberPath("DisplayText")
    .ItemTemplateId("comboItemTemp")
    .SelectedIndex(Sample.Models.Theme.GetCurrentThemeIndex()))