@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterTypes_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterTypes_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.CustomFilterTypes_Text2)
</p>
@(Html.C1().FlexGrid().Id("theGrid").Height(250)
    .AllowSorting(false)
    .Bind(b => b.Bind(Model).DisableServerRead(true))
    .Filterable(f=>f.Id("theGridFilter"))
)