<h1>
    @Html.Raw(Resources.C1FlexGrid.HierarchicalData_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.HierarchicalData_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.HierarchicalData_Text2)
</p>  