@model IEnumerable<FlexGridData.Sale>

<h1>
    @Html.Raw(Resources.C1FlexGrid.SelectionFocus_Title)
</h1>
<p>
    @Html.Raw(Resources.C1FlexGrid.SelectionFocus_Text1)
</p>
<p>
    @Html.Raw(Resources.C1FlexGrid.SelectionFocus_Text2)
</p>
@Html.C1().FlexGrid().Id("theGrid").ShowAlternatingRows(false).Bind(Model)