@model bool
@{
    var screenCss = Model ? "narrow-screen" : "wide-screen";
}
<ul class="site-nav @screenCss">
    <li>
        <a href="https://developer.mescius.com/componentone/demos" target="_blank">Demos</a>
    </li>
    <li>
        <a href="https://developer.mescius.com/componentone/docs/mvc/online-mvc-core/overview.html" target="_blank">Docs</a>
    </li>
    <li>
        <a href="https://developer.mescius.com/componentone/samples" target="_blank">Samples</a>
    </li>
    <li class="bold">
        <a href="https://developer.mescius.com/componentone/download" target="_blank">Download</a>
    </li>
</ul>

