@using FinancialChartExplorer.Models
@{
    var controllerName = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    var actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();

    var pageGroups = ControlPages.GetPageGroups();
}

<script id="navTemplate" type="text/template">
    <a href="{{Path}}">
        <span>{{Text}}</span>
        <span class="right-icon"></span>
    </a>
</script>
<h4 class="semi-bold wide-screen">@Html.Raw(Resources.Resource.ControlsNav_Features)</h4>
@foreach (var pageGroup in pageGroups)
{
    IEnumerable<ControlPage> pages = pageGroup.Pages;
    var index = pageGroup.GetSelectedPageIndex(actionName);
    var id = pageGroup.Name.Replace(" ", "") + "_PageGroup";

    foreach (var page in pages)
    {
        page.Path = Url.Action(page.Name, controllerName).ToString();
    }
    <div>
        @if (pageGroups.Count() > 1)
        {
        <span class="pagegroup semi-bold wide-screen">@pageGroup.Text</span>
        }
        <div>
            @(Html.C1().ListBox().Id(@id).CssClass("page-nav wide-screen")
                .Bind(pages)
                .ItemTemplateId("navTemplate")
                .OnClientLoadingItems("pageNav_LoadingItems")
            )
        </div>
    </div>
    <script type="text/javascript">
        allGroups.push('@id');
        c1.documentReady(function () {
            setListBoxSelectionIndex('@id', @index);
            bindMouseDown('@id');
        });
    </script>
}

