<h1>
    @Html.Raw(Resources.C1Gauge.BulletGraphs_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Gauge.BulletGraphs_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Gauge.BulletGraphs_Text2)
</p>

<div id="dashboard">
</div>