@model IEnumerable<ProductSales>
@using C1.Web.Mvc.Chart

@{
    ViewBag.DemoSettings = true;
    ClientSettingsModel demoSettingsModel = ViewBag.DemoSettingsModel;
    var chartType = demoSettingsModel.GetEnum("ChartType", C1.Web.Mvc.Chart.RadarChartType.Column);
    var stacking = demoSettingsModel.GetEnum("Stacking", C1.Web.Mvc.Chart.Stacking.None);
}

<c1-flex-radar binding="Downloads" binding-x="Country" height="400px" width="500px"
    chart-type="@chartType" stacking="@stacking"
    id="@demoSettingsModel.ControlId" legend-position="Top">
    <c1-items-source source-collection="Model" />
    <c1-flex-radar-series name="Downloads" />
    <c1-flex-radar-series name="Sales" binding="Sales" />
</c1-flex-radar>

@section Description{
    <p>@Html.Raw(FlexRadarRes.Index_Text0)</p>
}