ul {
  padding-left: 15px;
}
.demo-control li {
  list-style-type: square;
}
.detail {
  opacity: .5;
  font-style: italic;
}
  .detail:before {
    content: "("
  }
  .detail:after {
    content: ")"
  }