.center {
  text-align: center;
  max-width: 3in;
  margin: 12px auto;
}

.custom-gauge.wj-gauge .wj-face path {
    fill: #e0e0e0;
    stroke: none;
}
.custom-gauge.wj-gauge .wj-pointer {
    fill: #404040;
    stroke: none;
}
.custom-gauge.wj-gauge.wj-state-focused .wj-thumb {
    stroke: orange;
    stroke-width: 2px;
}

.vertical-gauge {
  height: 180px;
  width: 20px;
  display: inline-block;
}
.vertical-gauge text {
  fill: white;
  font-size: 80%;
}