.owners:after {
  content: "";
  clear: both;
  display: block;
}
.owners > div {
  float: left;
  margin: 20px;
  padding: 20px;
}
.wj-flexgrid {
  max-height: 250px;
}
.wj-flexchart {
  max-height: 250px;
}

.ctx-menu {
  padding: 3px;
  min-width: 120px;
  background: #FFFBDD;
}

.ctx-menu .wj-listbox-item {
  text-align: center;
  margin: 6px;
}