<span class="theme">
    <c1-combo-box is-editable="false" display-member-path="DisplayText" class="theme wide-screen"
                  selected-index="@Theme.GetCurrentThemeIndex(Context)">
        <c1-items-source source-collection="@Theme.GetAll()"></c1-items-source>
        <c1-input-item-template>
            <a href="{{Path}}" class="theme-selector-link">{{DisplayText}}</a>
        </c1-input-item-template>
    </c1-combo-box>
</span>