@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Resource.SiteError;
}

<h1 class="text-danger">@Resources.Resource.SiteError</h1>
<h2 class="text-danger">@Resources.Resource.SiteErrorDescription</h2>

