@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">@Html.Raw(Resources.Olap.Error_Text0)</h1>
    <h2 class="error">@Html.Raw(Resources.Olap.Error_Text1)</h2>
</hgroup>
