
@Html.ActionLink(Resources.Excel.Index_GenerateExcel, "GenerateExcel")
<br />
<img src="~/Content/images/excelWorkSheets.PNG" />

@section Description{
<p>@Html.Raw(Resources.Excel.Index_Text0)</p>
    }