@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Calendar.SiteError;
}

<h1 class="text-danger">@Resources.Calendar.SiteError</h1>
<h2 class="text-danger">@Resources.Calendar.SiteErrorDescription</h2>

