@model IEnumerable<Sale>
@section Scripts{
<script type="text/javascript" src="~/Scripts/FlexSheet/dataBinding.js"></script>
}

<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.DataBinding_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.DataBinding_Text0)</p>

    </div>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("boundSheet")
        .AddBoundSheet(sheet =>
            sheet.Bind(cv =>
                cv.Bind(Model).DisableServerRead(true))))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.DataBinding_Text1)</p>

}
