@section Scripts{<script type="text/javascript" src="~/Scripts/flexSheet/dragDrop.js"></script>}
<div>
    <div class="copy">
        <h3>
            @Html.Raw(FlexSheetRes.DragDrop_Text2)
        </h3>
<p>@Html.Raw(FlexSheetRes.DragDrop_Text0)</p>

    </div>
    <div>
        <c1-flex-sheet id="dragDropSheet" class="flexSheet">
            <c1-unbound-sheet column-count="8" row-count="20"></c1-unbound-sheet>
        </c1-flex-sheet>
    </div>
</div>
@section Summary{
<p>@Html.Raw(FlexSheetRes.DragDrop_Text1)</p>

}
