@section Scripts{
<script type="text/javascript" src="~/Scripts/FlexSheet/formulas.js"></script>
}

<div>
    <div class="copy">
<h3>@Html.Raw(Resources.FlexSheet.Formulas_Text2)</h3>

<p>@Html.Raw(Resources.FlexSheet.Formulas_Text0)</p>

    </div>
    <div>
        @(Html.C1().FlexSheet().CssClass("flexSheet").Id("formulaSheet")
        .AddUnboundSheet("Basic Operators", 35, 8)
        .AddUnboundSheet("Math", 90, 8)
        .AddUnboundSheet("Logical", 30, 8)
        .AddUnboundSheet("Text", 80, 8)
        .AddUnboundSheet("Aggregate", 170, 8)
        .AddUnboundSheet("Date", 60, 9)
        .AddUnboundSheet("Lookup & Reference", 55, 10)
        .AddUnboundSheet("Financial", 20, 8)
        .AddUnboundSheet("Summary", 20, 8))
    </div>
</div>
@section Summary{
<p>@Html.Raw(Resources.FlexSheet.Formulas_Text1)</p>

}
