body
{
    height: 100%;
    margin-bottom:120px;
}

html {
  position: relative;
  min-height: 100%;
}

body,td,th {
	font-family:Calibri;
    font-weight:normal;
	color: #333;
    
}
body {
	background-image: url(../images/SearchFlightBG.png);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;	
    margin-bottom: 120px !important;
}

.pagecontainer {
    text-align:left;
    max-height:100%;
}

