/* custom color for legend box */
.custom-legend.wj-flexchart .wj-legend > rect {
  fill: #003000;
}

/* custom color for legend labels */
.custom-legend.wj-flexchart .wj-legend .wj-label {
  fill: white;
  opacity: .9;
  font-size: 80%;
  font-style: italic;
}