.series-picker {
  columns: 2;
  padding: 12px;
  margin-left: 12px;
  margin-top: 26px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#pickerButton {
  cursor: pointer;
  color: #FF8754;
  padding: 6px;
  position: absolute;
  left: 0;
  top: 0
}