.dl-horizontal dt {
  width: 120px;
  float: left;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 130px;
}
.wj-inputnumber,
.wj-combobox{
  width: 140px;
}
.wj-gauge {
    margin: 20px auto;
}
.wj-radialgauge {
    height: 100px;
}