@model IEnumerable<Sale>
@{
    ControlOptions optionsModel = ViewBag.DemoOptions;
    ViewBag.DemoSettings = true;
}

@section Styles{
    <style>
        .customGrid {
            margin-top: 5px;
        }
    </style>
}

<c1-items-source id="collectionViewService" read-action-url="@Url.Action("Paging_Bind")"
                 page-size="@Convert.ToInt32(optionsModel.Options["PageSize"].CurrentValue)"></c1-items-source>

<c1-pager owner="collectionViewService"></c1-pager>

<c1-flex-grid height="300px" id="pagingGrid" class="customGrid"
              is-read-only="true" items-source-id="collectionViewService">
</c1-flex-grid>

<c1-pager owner="pagingGrid"></c1-pager>

@section Settings{
    @await Html.PartialAsync("_OptionsMenu", optionsModel)
}

@section Description{
    <p>@Html.Raw(FlexGridRes.Paging_Text0)</p>
    <p>@Html.Raw(FlexGridRes.Paging_Text1)</p>
}
