.wj-cell.low:not(.wj-state-selected):not(.wj-state-multi-selected) {
  color: red;   
  font-weight: bold;
}
.wj-cell.high:not(.wj-state-selected):not(.wj-state-multi-selected) {
  color: green;   
  font-weight: bold;
}