<h1>
    @Html.Raw(Resources.C1Mvc.Globalization_Title)
</h1>
<p>
    @Html.Raw(Resources.C1Mvc.Globalization_Text1)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.Globalization_Text2)
</p>
<p>
    @Html.Raw(Resources.C1Mvc.Globalization_Text3)
</p>
<pre>
    @@Html.C1().Scripts().Culture("de")
</pre>